<div class="modal">
    <!-- Modal header bar -->
    <ion-header-bar class="bar-secondary">
      <h1 class="title">new author</h1>
      <button class="button button-clear button-positive" ng-click="closeEditBand()">Cancel</button>
    </ion-header-bar>
    <!-- Modal content area -->
    <ion-content>
      <form ng-submit="updateBand(bandIndex, band)">
        <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="What is the name of the band?" ng-model="band.name">
          </label>
        </div>
        <div class="padding">
          <button type="submit" class="button button-block button-assertive">Update author</button>
        </div>
      </form>
    </ion-content>
  </div>